@charset "utf-8";

/* 모바일 */
@media screen and (max-width:639px) {
 .contents{ height: 1470px; }
.contents h2{font:bold 38px "Do Hyeon";}    
.contents .cont1 ul{width: 60%; margin: 0 auto; }    
    
/*cont1*/   
.contents .cont2{width: 92%;  height: 1200px; position: relative; margin: 50px auto 0;} 
    .contents .cont2 li .txt1{font:normal 18px "Do Hyeon";margin-right: 10px; height: 40px; line-height: 50px;}
    .contents .cont2 li:first-child .txt2{display:inline;}
    .contents .cont2 li:first-child .txt3{ margin-top:7px;}
    .contents .cont2 li .txt2{width: 57%; display:inline-block;  font:normal 16px "Malgun Gothic";margin:auto 2%;}
    .contents .cont2 li .txt3{font:normal 14px "Malgun Gothic";margin-right:0px;} 
    
}
    

/*  태블릿:width 1023px 미만 640px 이상 */
@media screen and (min-width:640px) and (max-width:1024px) {
.contents{ height: 1100px; }
.contents h2{font:bold 45px "Do Hyeon";}         
    
    
    
    
    
} 
    

/*pc*/
@media all and (min-width:1024px) {
    
.contents{ width: 100%; height: 1100px; }
.contents .cont1{}    
.contents .cont2{width:85%;}

  
    
    
}    
